<div class="maketitle">
                                                                      

                                                                      

<h2 class="titleHead">Titulo da obra</h2>
 <div class="author" ><span 
class="cmr-12">Autor da Obra</span></div>
<div class="date" ><span 
class="cmr-12">28 de fevereiro de 2014</span></div>
   </div>
   <div  
class="centerline">                   <br 
class="newline" /><br 
class="newline" /><span 
class="cmr-10">Introdutor (</span><span 
class="cmti-10">introd.</span><span 
class="cmr-10">)</span>                     </div><br 
class="newline" />
   <div  
class="centerline">                   <span 
class="cmr-10x-x-109">.</span><br 
class="newline" /><span 
class="cmr-10x-x-109">.</span><br 
class="newline" /><span 
class="cmr-10x-x-109">.</span><br 
class="newline" /><span 
class="cmr-10x-x-109">.</span><br 
class="newline" /><span 
class="cmr-10x-x-109">.</span>                </div>
<div  
class="centerline"><span 
class="cmr-10x-x-109">— </span><span 
class="cmbx-10">copyright </span><span 
class="cmr-10">Hedra </span><span 
class="cmr-10x-x-109">— </span><span 
class="cmbx-10">edi</span><span 
class="cmbx-10">ç</span><span 
class="cmbx-10">ão</span><span 
class="cmbsy-10">© </span><span 
class="cmr-10">Hedra 2013 </span><span 
class="cmbx-10">tradu</span><span 
class="cmbx-10">ç</span><span 
class="cmbx-10">ão</span><span 
class="cmbsy-10">© </span><span 
class="cmr-10">Tradutor </span><span 
class="cmr-10x-x-109">— </span><span 
class="cmbx-10">t</span><span 
class="cmbx-10">ítulo original </span><span 
class="cmr-10">Titulo original  </span><span 
class="cmr-10x-x-109">—  </span><span 
class="cmbx-10">edi</span><span 
class="cmbx-10">ç</span><span 
class="cmbx-10">ão consultada   </span><span 
class="cmr-10">Edi</span><span 
class="cmr-10">ç</span><span 
class="cmr-10">ão consultada  </span><span 
class="cmr-10x-x-109">—  </span><span 
class="cmbx-10">primeira edi</span><span 
class="cmbx-10">ç</span><span 
class="cmbx-10">ão   </span><span 
class="cmr-10">Primeira edi</span><span 
class="cmr-10">ç</span><span 
class="cmr-10">ão  </span><span 
class="cmr-10x-x-109">—     </span><span 
class="cmbx-10">edi</span><span 
class="cmbx-10">ç</span><span 
class="cmbx-10">ão   </span><span 
class="cmr-10">Jorge Sallum  </span><span 
class="cmr-10x-x-109">—  </span><span 
class="cmbx-10">coedi</span><span 
class="cmbx-10">ç</span><span 
class="cmbx-10">ão   </span><span 
class="cmr-10">Leda Cartum  </span><span 
class="cmr-10x-x-109">—  </span><span 
class="cmbx-10">assist</span><span 
class="cmbx-10">ência editorial   </span><span 
class="cmr-10">Luan Maitan  </span><span 
class="cmr-10x-x-109">—</span></div>
   <span 
class="cmr-10x-x-109"> </span><br 
class="newline" /><span 
class="cmr-10x-x-109"> </span><br 
class="newline" /><span 
class="cmr-10x-x-109"> </span><br 
class="newline" /><span 
class="cmr-10x-x-109"> </span><br 
class="newline" /><span 
class="cmti-7">Direitos reservados em l</span><span 
class="cmti-7">íngua</span><br 
class="newline" /><span 
class="cmti-7">portuguesa somente para o Brasil</span><br 
class="newline" /><span 
class="cmr-7"> </span><br 
class="newline" /><span 
class="cmcsc-10x-x-70"><span 
class="small-caps">e</span><span 
class="small-caps">d</span><span 
class="small-caps">i</span><span 
class="small-caps">t</span><span 
class="small-caps">o</span><span 
class="small-caps">r</span><span 
class="small-caps">a</span> <span 
class="small-caps">h</span><span 
class="small-caps">e</span><span 
class="small-caps">d</span><span 
class="small-caps">r</span><span 
class="small-caps">a</span> <span 
class="small-caps">l</span><span 
class="small-caps">t</span><span 
class="small-caps">d</span><span 
class="small-caps">a</span>.</span><br 
class="newline" /><span 
class="cmr-7">R.</span><span 
class="cmr-7"> </span><span 
class="cmr-7">Fradique Coutinho, 1139 (subsolo)</span><br 
class="newline" /><span 
class="cmr-7">05416–011 S</span><span 
class="cmr-7">ão Paulo </span><span 
class="cmcsc-10x-x-70"><span 
class="small-caps">s</span><span 
class="small-caps">p</span> </span><span 
class="cmr-7">Brasil</span><br 
class="newline" /><span 
class="cmr-7">Telefone/Fax +55 11 3097 8304</span><br 
class="newline" /><span 
class="cmr-7">editora@hedra.com.br</span><br 
class="newline" /><span 
class="cmr-7">www.hedra.com.br</span><br 
class="newline" /><span 
class="cmr-7">Foi feito o dep</span><span 
class="cmr-7">ósito legal.</span><br 
class="newline" /><br 
class="newline" /><br 
class="newline" /><br 
class="newline" /><span 
class="cmr-7"> </span><br 
class="newline" /><span 
class="cmr-7"> </span><br 
class="newline" />
<span 
class="cmbx-9">Sobre a obra </span><span 
class="cmr-9">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut purus elit,</span>
<span 
class="cmr-9">vestibulum ut, placerat ac, adipiscing vitae, felis. Curabitur dictum gravida mauris.</span>
<span 
class="cmr-9">Nam arcu libero, nonummy eget, consectetuer id, vulputate a, magna. Donec vehicula</span>
<span 
class="cmr-9">augue eu neque. Pellentesque habitant morbi tristique senectus et netus et malesuada</span>
<span 
class="cmr-9">fames ac turpis egestas. Mauris ut leo. Cras viverra metus rhoncus sem. Nulla et lectus</span>
<span 
class="cmr-9">vestibulum urna fringilla ultrices. Phasellus eu tellus sit amet tortor gravida placerat.</span>
<span 
class="cmr-9">Integer sapien est, iaculis in, pretium quis, viverra ac, nunc. Praesent eget sem vel leo</span>
<span 
class="cmr-9">ultrices bibendum. Aenean faucibus. Morbi dolor nulla, malesuada eu, pulvinar at, mollis</span>
<span 
class="cmr-9">ac, nulla. Curabitur auctor semper nulla. Donec varius orci eget risus. Duis nibh mi,</span>
<span 
class="cmr-9">congue eu, accumsan eleifend, sagittis quis, diam. Duis eget orci sit amet orci dignissim</span>
<span 
class="cmr-9">rutrum.</span>
<span 
class="cmbx-9">Sobre o autor </span><span 
class="cmr-9">Nam dui ligula, fringilla a, euismod sodales, sollicitudin vel, wisi. Morbi auctor</span>
<span 
class="cmr-9">lorem non justo. Nam lacus libero, pretium at, lobortis vitae, ultricies et, tellus. Donec aliquet,</span>
<span 
class="cmr-9">tortor sed accumsan bibendum, erat ligula aliquet magna, vitae ornare odio metus a mi. Morbi ac</span>
<span 
class="cmr-9">orci et nisl hendrerit mollis. Suspendisse ut massa. Cras nec ante. Pellentesque a nulla.</span>
<span 
class="cmr-9">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span>
<span 
class="cmr-9">Aliquam tincidunt urna. Nulla ullamcorper vestibulum turpis. Pellentesque cursus luctus</span>
<span 
class="cmr-9">mauris.</span>
   <span 
class="cmr-7"> </span><br 
class="newline" /><span 
class="cmr-7"> </span><br 
class="newline" /><span 
class="cmr-7"> </span><br 
class="newline" /><span 
class="cmr-7"> </span><br 
class="newline" />
   <span 
class="cmbx-12x-x-120">Sum</span><span 
class="cmbx-12x-x-120">ário</span>
<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" lang="pr-BR "> 
<head>
   <title>Titulo da obra</title> 
<meta charset="UTF-8" /> 
<meta name="generator" content="TeX4ht (http://www.cse.ohio-state.edu/~gurari/TeX4ht/)" /> 
<link rel="stylesheet" type="text/css" href="EBOOK.css" /> 
</head><body 
>
                                                                      

                                                                      
                                                                      

                                                                      
   
 <br 
class="newline" /> <br 
class="newline" /> <br 
class="newline" /> <br 
class="newline" />
   <div  
class="centerline">                                                                 * * *                                                                 </div>
 <br 
class="newline" /> <br 
class="newline" />
<!--l. 15--><p class="indent" >   <span 
class="cmr-10">Adverte-se aos curiosos que se imprimiu este livro em nossas oﬁcinas, em 28 de</span>
<span 
class="cmr-10">fevereiro de 2014, em tipologia Libertine, com diversos sofwares livres, entre eles,</span>
<span 
class="cmr-10">Lua</span><span class="LATEX"><span 
class="cmr-10">L</span><span class="A"><span 
class="cmr-10">A</span></span><span class="TEX"><span 
class="cmr-10">T</span><span 
class="E"><span 
class="cmr-10">E</span></span><span 
class="cmr-10">X</span></span></span><span 
class="cmr-10">, git &#x0026; ruby.</span>
</p>
<div class="center" 
>
<!--l. 15--><p class="noindent" >
</p><!--l. 15--><p class="noindent" ><span 
class="OrnementsADF-x-x-109">@</span></p></div>
 
</body> 
</html>
                                                                      


